.app-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px 5px 10px;
  flex-direction: column;
  align-items: center;
}

button.primary {
  background: rebeccapurple;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}

button.primary:focus, button.primary:active{
  background: white;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
}